.container {
  align-content: stretch;
  display: grid;
  flex-direction: column;
  margin: 50px;
}
.grid-container-header {
  display: grid;
  grid-template-columns: 100px 50px 100px auto;
  background-color: #fc4b05;
}
.grid-item-header {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  align-self: end;
  color: #fcfcfc;
}
.grid-container {
  display: grid;
  grid-template-columns: 100px 50px 100px auto;
  background-color: #fcfcfc;
}
.grid-item {
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.grid-item-header-alt {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  align-self: end;
  color: #fcfcfc;
}
.grid-container-alt {
  display: grid;
  grid-template-columns: 100px 50px 100px auto;
  background-color: #dee0e3;
}
.grid-item-alt {
  font-size: 13px;
  text-align: left;
  flex-direction: row;
  display: grid;
  align-content: end;
  padding-top: 5px;
  padding-bottom: 5px;
  word-break: break-word;
  /* grid-template-columns: auto auto auto auto auto; */
}

.grid-item-alt-sub {
  align-items: center;
  justify-content: center;
  font-size: 10px;
  grid-template-columns: auto auto auto;
}

.grid-container-error {
  display: grid;
  grid-template-columns: auto;
  background-color: #fcfcfc;
}
.grid-container-footer {
  display: grid;
  grid-template-columns: auto;
  background-color: #fcfcfc;
  border-bottom: 2px solid;
  border-bottom-color: #fc4b05;
}
.grid-item-footer {
  align-self: end;
  justify-content: flex-end;
  flex-direction: row;
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-template-columns: auto auto auto;
}
.text-footer {
  font-size: 13px;
  color: #fc4b05;
  padding-left: 10px;
  padding-right: 10px;
}
.hover {
  cursor: pointer;
}
.padding {
  padding-left: 10px;
}
.font {
  font-weight: bold;
}
.font-13 {
  font-size: 13px;
}
.min-padding {
  padding-left: 5px;
}
